@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #ff8d41;
    --secondaryColor: #ee4f4f;
    --tertiaryColor: #f7a52a;
}